<div>
  <input type="text" placeholder="Search" [(ngModel)]="search" />
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
    <path
      class="a"
      d="M26.8,25.864l-3.847-3.847a6.737,6.737,0,1,0-.944.944L25.86,26.8a.666.666,0,0,0,.944-.94Zm-9.061-2.72a5.4,5.4,0,1,1,5.4-5.4A5.408,5.408,0,0,1,17.743,23.144Z"
      transform="translate(-11 -11)"
    />
  </svg>
</div>
<ul>
  <li
    *ngFor="let item of items | searchFilter: search"
    [ngClass]="{
      'indent-1': item.indent == 1,
      'indent-2': item.indent == 2
    }"
  >
    {{ item.title }} - Level {{ item.indent }}
    <button (click)="onClick(item)">
      Button
    </button>
  </li>
</ul>
